body {
    height: 2000px;
}

#asocial-icons {
    margin-right: 50px
}

.navbar {
    -webkit-box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    -moz-box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);

    background-color: rgba(80,40,100,0.95);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }

.map-container-3{
  overflow:hidden;
  padding-bottom:40%;
  position:relative;
  height:0;
}

.map-container-3 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}